<div class="columns has-text-centered">
	<footer class="column is-8 is-offset-2 footer">
		<div class="container">
			<p>
				<a href="http://github.com/Steven-Ireland/<%= github %>">Created with love</a> by
				<a href="http://github.com/Steven-Ireland">Steven Ireland</a>
			</p>
		</div>
	</footer>
</div>
