<aside class="menu is-pulled-right">
	<p class="menu-label">
		General
	</p>
	<ul class="menu-list">
		<li><a href="/portal">Overview</a></li>
	</ul>
	<p class="menu-label">
		Products
	</p>
	<ul class="menu-list" data-get="/reporting/product/list" data-tmpl="#productItem">
		<li><a class="button is-outlined is-small" href="/portal/product/register">Add new</a></li>
	</ul>
	<p class="menu-label">
		Account
	</p>
	<ul class="menu-list">
		<li><a href="/portal/user/settings">Settings</a></li>
	</ul>
</aside>

<script id="productItem" type="x-tmpl-mustache">
	<li><a href="/portal/product/{{product_id}}">{{display_name}}</a></li>
</script>
