<aside class="menu is-pulled-right">
	<p class="menu-label">
		General
	</p>
	<ul class="menu-list">
		<li><a href="#">Overview</a></li>
	</ul>
	<p class="menu-label">
		Products
	</p>
	<ul class="menu-list" data-get="/reporting/product/list">
		<li><a href="#">Product 1</a></li>
	</ul>
</aside>
