<div class="columns">
	<div class="column is-8 is-offset-2">
		<nav class="level">
			<div class="level-left">
				<div class="level-item is-brand">
					<p class="title is-4"><%= brand %></p>
				</div>
			</div>
			<div class="level-right">
				<div class="level-item">
					<a href="#about">About</a>
					<a href="#login">Login</a>
				</div>
			</div>
		</nav>
	</div>
</div>
