<div class="tile is-ancestor overview">
	<div class="tile is-parent">
		<div class="tile is-child box">
			<p class="title is-1" data-get="/reporting/license/count/today">1</p>
			<p class="subtitle is-5">Licenses issued today</p>
		</div>
	</div>
	<div class="tile is-parent">
		<div class="tile is-child box">
			<p class="title is-1" data-get="/reporting/license/count/total">2</p>
			<p class="subtitle is-5">Licenses issued total</p>
		</div>
	</div>
	<div class="tile is-parent">
		<div class="tile is-child box">
			<p class="title is-1" data-get="/reporting/license/count/checks">3</p>
			<p class="subtitle is-5">Licenses verified today</p>
		</div>
	</div>
</div>
